<% if dramas.any? %>
  <ul class="list-unstyled mt-2">
    <% dramas.each do |drama| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(drama.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to drama.user.name, user_path(drama.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= drama.created_at %></span>
          </div>
          <div>
            <p><%= drama.title %></p>
            <p><%= drama.content %></p>
            <p>
              <div class="rate-form">
                <input id="star5" type="radio" name="rate" value="5">
                <label for="star5">★</label>
                <input id="star4" type="radio" name="rate" value="4">
                <label for="star4">★</label>
                <input id="star3" type="radio" name="rate" value="3">
                <label for="star3">★</label>
                <input id="star2" type="radio" name="rate" value="2">
                <label for="star2">★</label>
                <input id="star1" type="radio" name="rate" value="1">
                <label for="star1">★</label>
              </div>
            </p>
          </div>
          <div>
            <% if current_user == drama.user %>
              <%= link_to "削除", drama, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>