<% if dramas.any? %>
  <ul class="list-unstyled mt-2">
    <% dramas.each do |drama| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(drama.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to drama.user.name, user_path(drama.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= drama.created_at %></span>
          </div>
          <div>
            <p><%= drama.title %></p>
            <p><%= drama.content %></p>
            <p>評価⭐️<%= drama.rating %></p>
          </div>
          <div>
            <% if current_user == drama.user %>
              <%= link_to "削除", drama, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <% if logged_in? %>
              <%= render 'favorites/favorite_button', drama:drama %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>