<div class="row">
  <aside class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mb-3">
      <% if logged_in? %>
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿したドラマ一覧<span class="badge bg-secondary"><%= @count_dramas %></span></a></li>
        <li class="nav-item"><a href="<%= likes_user_path(current_user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(current_user)) %>">観たいリストに追加したドラマ<span class="badge bg-secondary"><%= @count_fav_dramas %></span></a></li>
      <% end %>
    </ul>
    <%= render 'dramas/dramas', dramas: @dramas %>
  </div>
</div>