<div class="row">
  <% if logged_in? %>
    <div class="col-sm-9">
    <%= render 'dramas/dramas', dramas: @dramas %>
    </div>
    
    <div class="col-sm-3">
      <%= image_tag('itewhon.png') %>
    </div>
  <% else %>
    <div class="alert alert-warning" role="alert">
    会員登録、ログインでドラマの投稿、観たいリストに追加できます。
    </div>
    
    <div class="col-sm-9">
    <%= render 'dramas/dramas', dramas: @dramas %>
    </div>
    
    <div class="col-sm-3">
      <%= image_tag ('23334166.jpg') %>
      <%= image_tag ('23276744.png') %>
    </div>
  <% end %>
</div>
